/* appEshop.css */

/* Đặt chiều cao tối đa cho các hình ảnh trong carousel */
.banner-img {
  max-height: 480px;
  object-fit: cover; /* Đảm bảo ảnh được cắt và không bị biến dạng */
}
/* home.css */

/* Đảm bảo container banner có chiều cao đầy đủ */
.carousel-item {
  position: relative;
  height: 63vh; /* Chiều cao bằng chiều cao của viewport */
}

/* Căn giữa nội dung bên trong Carousel.Caption */
.carousel-caption {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  color: #fff; /* Màu chữ mặc định là trắng để dễ đọc trên ảnh tối */
}

/* Nếu muốn căn chỉnh cho cụ thể các kiểu */
.carousel-caption h1 {
  font-size: 3rem;
  margin-bottom: 1rem;
}

.carousel-caption h3 {
  font-size: 1.5rem;
  margin-bottom: 1.5rem;
}

.carousel-caption .btn {
  padding: 0.75rem 1.5rem;
  font-size: 1rem;
}

/* Các lớp màu cho các phần tử */
.white-color {
  color: #fff;
}

.primary-color-deal {
    color: #30323A !important;
  font-weight:700;

}


.font-weak {
  font-weight: 300; /* Điều chỉnh độ dày của chữ */
}

.banner-img {
  /* Các kiểu cho ảnh banner nếu cần */
}
.primary-color {
  color: #F8694A;
  font-weight:700;
}
.Collection-item{
  font-weight:700;
}

